[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "git/gitalias"]
	path = git/gitalias
	url = https://github.com/GitAlias/gitalias
[submodule "git/git-fire"]
	path = git/git-fire
	url = https://github.com/qw3rtman/git-fire
[submodule "zsh/oh_my_zsh_custom/plugins/zsh-wakatime"]
	path = zsh/oh_my_zsh_custom/plugins/zsh-wakatime
	url = https://github.com/wbingli/zsh-wakatime
[submodule "zsh/oh_my_zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh/oh_my_zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/oh_my_zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh/oh_my_zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
